/**
 * BOOTSTRAP
 */
$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

$body-bg: #fdeae5;

$font-family-sans-serif: 'Dosis', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-size-base: 16px;
$headings-font-family: 'Oswald', 'Helvetcia Neue', 'Helvetica', 'Arial', sans-serif;;
$headings-font-weight: 700;

/**
 * IMPORTS
 */
@import "../../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import url(http://fonts.googleapis.com/css?family=Dosis:600);
@import url(http://fonts.googleapis.com/css?family=Oswald:700);

// Your code here